@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f8fafc;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Arial, sans-serif;
  user-select: none; /* 防止应用像网页一样被选中文字 */
}

/* 自定义滚动条样式 (可选) */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}
